/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #ebfcff;  
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

/* c5f6ff ebfcff */ 

main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

/* fotos */

img.zweefRechts {
    float: right;
    margin-left: 15px;
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

#logo1 {
    width: 60px;
    float: left;
    margin: 5px;
}

#logo2 {
    width: 60px;
    float: right;
    margin: 5px;
}

#bvnummers {
    width: 320px;
    margin-top: 7px;
}

#blauwe-vinvis {
    width: 300px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#krill {
    width: 240px;
    margin-top: 7px;
}

#leefgebied {
    width: 300px;
    border: solid black 1px;
    margin-top: 7px;
}

#orka {
    width: 150px;
    margin-top: 7px;
}

#stamboom {
    width: 300px;
    margin-top: 7px;
}

#harpoen {
    width: 260px;
    margin-top: 7px;
}

#sprong {
    width: 350px;
    margin-top: 7px;
}

/* Weetjes */

.weetjes {
    border: solid skyblue;
    margin: 10px;
    height: 135px;
}

#w1, #w2, #w3 {
    width: 154px;
    float: left;
}

#w4, #w5{
    width: 154px;
    float: right;
}

#w1, #w2 {
    font-size: 16px;
}

#w3, #w4 {
    font-size: 14px;
}

#w5 {
    font-size: 12px;
}

div h5 {
    font-size: 14px;
}

/* specifieke stylen */

#intro {
    font-weight: bold;
}

#relaties-kopje {
    clear: both;
}

footer {
    clear: both;
}

h4 {
    background-color: skyblue;
    height: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h5 {
    margin-top: 7px;
    margin-bottom: 10px;
}
.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(9, 0, 88);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* navigatiebalk */

nav {
    margin-bottom: 15px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    font-family: monospace;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(117, 181, 206)
}

nav li a.active {
    background-color: skyblue;
}

#laatste {
    width: 157px;
}

