/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #c5f6ff;  
    
    color: #303030;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* fotos */
img.zweefRechts {
    float: right;
    margin-left: 15px;
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

#bvnummers {
    width: 300px;
    margin-top: 7px;
}

#blauwe-vinvis {
    width: 275px;
}

#krill {
    width: 320px;
    margin-top: 7px

}

/* Weetjes */

.weetjes {
    border: solid rgb(34, 36, 187);
    margin: 10px;
}

#w1 {
    width: 168px;
}

#w2 {
    width: 168px;
    float: right;
}

#w3 {
    width: 168px;
    float: middle;
}

#w4 {
    width: 168px;
    float: right;
}

#w5 {
    width: 168px;
    float: right;
}

/* specifieke stylen */
h4 {
    line-height: 5px;
}
.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(11, 0, 112);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    font-family: monospace;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(117, 181, 206)
}

nav li a.active {
    background-color: skyblue;
}

#laatste {
    width: 157px;
}

